## ROOT

node_modules
.expo

## WEB

# dependencies
/packages/web/node_modules
/packages/web/build
/packages/web/coverage
/packages/web/.pnp
/packages/web/.pnp.js
/packages/web/.DS_Store

#generated
/packages/web/src/generated

## MOBILE

/packages/mobile/node_modules/**/*
/packages/mobile/.expo/*
/packages/mobile/npm-debug.*
/packages/mobile/*.jks
/packages/mobile/*.p8
/packages/mobile/*.p12
/packages/mobile/*.key
/packages/mobile/*.mobileprovision
/packages/mobile/*.orig.*
/packages/mobile/web-build/

/packages/mobile/.DS_Store
# macOS