## WEB

# dependencies
/web/node_modules
/web/build
/web/coverage
/web/.pnp
/web/.pnp.js
/web/.DS_Store

# env vars
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local

#debug | log | error
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/debug.log
/web/.vscode

#generated
/web/src/generated

# dependencies
/web//node_modules
/web//.pnp
/web/.pnp.js
